
.user-account-table > tbody > tr > td > .delete-account-btn {
  background-image: 
    linear-gradient(
      rgba(219, 54, 54, 60%),
      rgba(186, 29, 29, 50%)
    );
  color: white;
}

.user-account-table > tbody > tr > td > .row-title {
  font-size: 1.1em;
  font-family: Judson, serif;
  font-weight: 800;
  color: goldenrod;
}
